@use 'variables' as v;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin shapedivider {
  @media screen and (min-width: 634px) {
    @content;
  }
}

// "laptop"
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Footer
@mixin footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
