@use '../../styles/variables' as v;
@use '../../styles/mixins';

.closed--menu {
  position: fixed;
  top: 0.6rem;
  right: 0.6rem;
  border: 0.15rem dotted black;
  &:hover {
    background-color: yellow;
  }
}

.open--menu {
  position: fixed;
  top: 0.6rem;
  right: 0.6rem;
  border: 0.15rem dotted black;
  background-color: #e8e2a9;
  &:hover {
    background-color: yellow;
  }
}

.menu {
  position: fixed;
  top: 40px;
  right: 10px;
  &__list {
    display: flex;
    flex-direction: column;
    &--item {
      border: 0.15rem dotted black;
      background-color: #e8e2a9;
      padding: 0.5rem;
      margin: 0.2rem;
      list-style-type: none;
      &:hover {
        background-color: yellow;
      }
    }
    &--link {
      text-decoration: none;
      color: black;
    }
  }
}
