body,
html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arvo-Regular;
  background-color: #1b1816;
  color: #f5ead6;
}

// Arvo
@font-face {
  font-family: "Arvo-Regular";
  src: url("./assets/fonts/Arvo/Arvo-Regular.ttf");
}
@font-face {
  font-family: "Arvo-Italic";
  src: url("./assets/fonts/Arvo/Arvo-Italic.ttf");
}
@font-face {
  font-family: "Arvo-Bold";
  src: url("./assets/fonts/Arvo/Arvo-Bold.ttf");
}
@font-face {
  font-family: "Arvo-BoldItalic";
  src: url("./assets/fonts/Arvo/Arvo-BoldItalic.ttf");
}

// Andika
@font-face {
  font-family: "Andika-Regular";
  src: url("./assets/fonts/Andika/Andika-Regular.ttf");
}
@font-face {
  font-family: "Andika-Italic";
  src: url("./assets/fonts/Andika/Andika-Italic.ttf");
}
@font-face {
  font-family: "Andika-Bold";
  src: url("./assets/fonts/Andika/Andika-Bold.ttf");
}
@font-face {
  font-family: "Andika-BoldItalic";
  src: url("./assets/fonts/Andika/Andika-BoldItalic.ttf");
}
